/bin/php-parse
/bin/phpunit

# composer's files.
/vendor/
composer.lock

# bower
bower_components/

# npm
node_modules/

/module/*/config/*
!/module/*/config/fallback.php
/module/*/cache/*

*.log
selenium.log.lck
/test/functional/geckodriver
/test/functional/selenium-server-standalone-*.jar  
