/bin/*
!/bin/add-license-header
!/bin/lint
!/bin/test

# composer's files.
/vendor/
composer.lock

# bower
bower_components/

# npm
node_modules/

#/module/*/config/*
/module/*/cache/*

*.log
selenium.log.lck
/test/functional/geckodriver
/test/functional/selenium-server-standalone-*.jar  
