.test-results {
  color: #222;
  margin: 1em 0;
}
.test-results__test {
  font-size: 18px;
}
.test-results__successful-test {
  color: #188052;
}
.test-results__failed-test {
  color: #ff8994;
}
.test-results__stack-line_ts {
  font-weight: bold;
}
.test-results__stack-line_ts-last {
  color: #8b0000;
}

