$navbar-inverse-link-color = white
$navbar-inverse-link-hover-color = white
$navbar-inverse-link-hover-bg = #202020
$navbar-height = 40px

// See variables.styl for the name of the font variables.
$font-family-sans-serif ?= "Fira Sans","Open Sans","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","Liberation Sans","Nimbus Sans L",sans-serif
//@require "font"

$font-size-base ?= 14px

//$border-radius-base: 0px
$navbar-border-radius ?= 0px
$table-bg-accent ?= #3b3f41
$table-bg-hover  ?= #979797
$table-link-color ?= #5cb85c
$table-link-bg ?= $body-bg

$navbar-inverse-color ?= #fefefe
$navbar-inverse-bg    ?= #434856
//$navbar-inverse-color = #202020
//$navbar-inverse-bg    = #7ad4ab

$link-color ?= #18b1cc
$body-bg ?= #202020
$text-color ?= #fff

$grid-columns ?= 24

$required-color = #d00
