$font-family-sans-serif = "Fira Sans"
//font-family:"Fira Sans","Open Sans","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","Liberation Sans","Nimbus Sans L",sans-serif;font-size:13px
$font-size-base = 13px

$navbar-inverse-link-color = white
$navbar-inverse-link-hover-color = white
$navbar-inverse-link-hover-bg = #202020
$navbar-height = 40px

@require "font"
@require "../../bootstrap/styl/main"


