$navbar-inverse-link-color = white
$navbar-inverse-link-hover-color = white
$navbar-inverse-link-hover-bg = #202020
$navbar-height = 40px

// See variables.styl for the name of the font variables.
$font-family-sans-serif = "Fira Sans","Open Sans","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","Liberation Sans","Nimbus Sans L",sans-serif
//$font-family-sans-serif = "Fira Sans"
//@require "font"
//;
$font-size-base = 13px

@require "../../bootstrap/styl/main"


